# exploration

In [3]:
import pandas as pd
import yfinance as yf
import numpy as np
import sys
import os
sys.path.append(os.path.abspath("../src/market"))

from model import preprocessing

In [29]:
def get_stock(ticker_symbol : str, period : str = "max") -> pd.DataFrame:
    ticker = yf.Ticker(ticker_symbol)
    historical_data = ticker.history(period=period)
    return historical_data

def pos_var_year(data : pd.DataFrame) -> float:
    close = data["Close"].copy()
    start = close.values[0]
    end = close.values[-1]
    var_year = round(1 + end / start,2)  
    return var_year

In [30]:
data = get_stock("AAPL")[-20:]

In [37]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-08-20 00:00:00-04:00,225.770004,227.169998,225.449997,226.509995,30299000,0.0,0.0
2024-08-21 00:00:00-04:00,226.520004,227.979996,225.050003,226.399994,34765500,0.0,0.0
2024-08-22 00:00:00-04:00,227.789993,228.339996,223.899994,224.529999,43695300,0.0,0.0
2024-08-23 00:00:00-04:00,225.660004,228.220001,224.330002,226.839996,38677300,0.0,0.0
2024-08-26 00:00:00-04:00,226.759995,227.279999,223.889999,227.179993,30602200,0.0,0.0
2024-08-27 00:00:00-04:00,226.000000,228.850006,224.889999,228.029999,35934600,0.0,0.0
2024-08-28 00:00:00-04:00,227.919998,229.860001,225.679993,226.490005,38052200,0.0,0.0
2024-08-29 00:00:00-04:00,230.100006,232.919998,228.880005,229.789993,51906300,0.0,0.0
2024-08-30 00:00:00-04:00,230.190002,230.399994,227.479996,229.000000,52990800,0.0,0.0
2024-09-03 00:00:00-04:00,228.550003,229.000000,221.169998,222.770004,50190600,0.0,0.0
2024-09-04 00:00:00-04:00,221.660004,221.779999,217.479996,220.850006,43840200,0.0,0.0
2024-09-05 00:00:00-04:00,221.630005,225.479996,221.520004,222.380005,36615400,0.0,0.0
2024-09-06 00:00:00-04:00,223.949997,225.240005,219.770004,220.820007,48423000,0.0,0.0
2024-09-09 00:00:00-04:00,220.820007,221.270004,216.710007,220.910004,67180000,0.0,0.0
2024-09-10 00:00:00-04:00,218.919998,221.479996,216.729996,220.110001,51591000,0.0,0.0
2024-09-11 00:00:00-04:00,221.460007,223.089996,217.889999,222.660004,44587100,0.0,0.0
2024-09-12 00:00:00-04:00,222.500000,223.550003,219.820007,222.770004,37498200,0.0,0.0
2024-09-13 00:00:00-04:00,223.580002,224.039993,221.910004,222.500000,36766600,0.0,0.0
2024-09-16 00:00:00-04:00,216.539993,217.220001,213.919998,216.320007,59288400,0.0,0.0
2024-09-17 00:00:00-04:00,215.750000,216.899994,214.500000,215.914993,31171905,0.0,0.0

In [38]:
preprocessing.create_dataset_one_predict(data,10,"2024-09-11")

C:\Users\franc\OneDrive\Francois\Programmation\market\src\market\model\preprocessing.py:22: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version. Use a timezone-aware object instead.
  position = df.index.get_loc(pd.to_datetime(last_date))

(array([[227.91999817, 229.86000061, 225.67999268, 226.49000549],
        [230.1000061 , 232.91999817, 228.88000488, 229.78999329],
        [230.19000244, 230.3999939 , 227.47999573, 229.        ],
        [228.55000305, 229.        , 221.16999817, 222.77000427],
        [221.66000366, 221.77999878, 217.47999573, 220.8500061 ],
        [221.63000488, 225.47999573, 221.52000427, 222.38000488],
        [223.94999695, 225.24000549, 219.77000427, 220.82000732],
        [220.82000732, 221.27000427, 216.71000671, 220.91000366],
        [218.91999817, 221.47999573, 216.72999573, 220.11000061],
        [221.46000671, 223.08999634, 217.88999939, 222.66000366]]),
 '2024-09-11')

In [47]:
preprocessing.get_next_dates('2024-09-11',3)

AttributeError: module 'model.preprocessing' has no attribute 'get_next_dates'

In [11]:
def find_closest_date(df, date_str):
    target_date = pd.to_datetime(date_str)
    target_date = target_date.tz_localize('UTC').tz_convert('America/New_York')
    diff = abs((df.index - target_date))
    return df.index[np.argmin(diff)]

In [12]:
data = {
    'value': [10, 20, 30, 40]
}

# Creating a DataFrame where the dates are in the index
index = pd.to_datetime([
    '2024-05-21 08:00', 
    '2024-05-22 09:00', 
    '2024-05-24 10:00',
    '2024-05-25 11:00'
]).tz_localize('America/New_York')

df = pd.DataFrame(data, index=index)

# Example usage
closest = find_closest_date(df, "2024-05-23")
print(closest)

TimedeltaIndex(['1 days 12:00:00', '0 days 11:00:00', '1 days 14:00:00',
                '2 days 15:00:00'],
               dtype='timedelta64[ns]', freq=None)
1
2024-05-22 09:00:00-04:00